# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# STS #
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans #
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# VS Code
*.code-workspace
.vscode/

# Maven
log/
target/

# Compiled class file
*.class

# Log file
*.log

# Maven, Gradle
*.mvn/
*.gradle/

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# etc.
tmp/
README.template.adoc
_src/
_on_the_shelf/
_dat/
node_modules/
*.db
