# IntelliJ
.idea/
*.iml
*.iws

# VS Code
*.code-workspace

# Maven
log/
target/

# Compiled class file
*.class

# Log file
*.log

# Maven, Gradle
*.mvn/
*.gradle/

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# etc.
tmp/
README.template.adoc
_src/
